extends layout

block content
    div(class='form-container')
        h1 Login
        form(action="/users/login", method="post", class="user-form")            
            label(for="username", class="form-label") Email:
            input#username(type="email", name="username", class="form-control", required)
            label(for="password", class="form-label") Password:
            input#password(type="password", name="password", class="form-control", required)            
            button(type="submit" class="btn btn-primary") Login